$background-Color: white;
$Cableway-Color: #32ff7e;
$Cableway-border-Color: #149257;

$Window-Color:rgb(167, 241, 235);
$Cableway-X-Dimension: 17.5%;
$Cableway-Y-Dimension: 30%;
$Iron-color: gray;
$Cable-color: black;
$Layer-2-X-Dimension: 100%;
$Layer-2-Y-Dimension: 70%;
$Animation-duration: 8s;
$Cableway-border-radius: 20% 20% 90% 90%;
:root {
    --Cloud-visible: hidden;
    --bg-color-l: #dcdcdc; /*Default BG (Light)*/
    --tx-color-l: #0e0e0e; /*Default TX (Light)*/
    --bg-colorT-l: #424242; /*Default tooltip BG (Light)*/
    --tx-colorT-l: #eeeeee; /*Default tooltip TX (Light)*/
    --shadow-d: 0 0 10px 0 rgba(211, 211, 211, 0.5); /*BoxShadow Dark*/
}



.layer-2{
    padding: 0%;
    margin-left: 0%;
    height: $Layer-2-Y-Dimension;
    width: $Layer-2-X-Dimension;
    position: absolute;
    top: 20%;
    overflow: hidden;
}

.cableway{
   background: $Cableway-Color; 
   width: $Cableway-X-Dimension;
   height: $Cableway-Y-Dimension;
   border-radius: $Cableway-border-radius;
   
   border-style: solid;
   border-color: $Cableway-border-Color;
   border-width: 0px 0px 25px 15px;
   position: absolute;
   left: - $Cableway-X-Dimension;
   z-index: 1;
   animation: cableWayAnimation;
   animation-duration: $Animation-duration;
   animation-iteration-count: infinite;
   &__window{
    background: $Window-Color; 
    width: 70%;
    height: 70%;
    border-radius: $Cableway-border-radius;
    position: absolute;
    top: 10%;
    right: 15%;
    z-index: 3;
    }
    &__door{
        background-color: $Cable-color;
        width:2%;
        height: 100%;
        left: 50%;
        position: absolute;
    }
    &__handle{
        background-color: $Cable-color;
        width: 15%;
        height: 5%;
        border-radius: 30%;
        position: absolute;
        top: 50%;
        left: 60%;
    }
    &:hover{
        animation-play-state: paused;
        --Cloud-visible: visible;
        --tooltip-pos: var(--tooltip-pos-left);
        --inset-t: -5px auto auto 110%;
        --inset-a: 50% 100% auto auto;
        --margin-a: -5px auto auto auto;
        --margin-t: auto auto auto auto;
    }

}

.triangle{
    visibility: var(--Cloud-visible);
    position: absolute;
    top: 40%;
    left: 90%;
    width: 20px;
    height: 20px;
    //background-color: whitesmoke;
    
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right:20px solid whitesmoke; 
    z-index: 2;
}

.message{
    visibility: var(--Cloud-visible);
    position: absolute;
    top: 0%;
    left: 100%;
    width: 150px;
    height: 150px;
    border-style: dotted;
    border-width: 2px;
    border-radius: 50%;
    border-color: #0e0e0e;
    background-color: whitesmoke;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    font-weight: bold;
}
.box-1 {
    font-weight: var(--font-weight);
    background-color: var(--bg-color);
    color: var(--tx-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    height: 20em;
    
}
.tooltip {
    position: relative;
    
}
/*Config of the tooltip*/
.tooltipText {
    visibility: --Cloud-visible;
    width: 120px;
    background-color: var(--bg-colorT);
    color: var(--tx-colorT);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    inset: var(--inset-t);
    margin: var(--margin-t);
    opacity: 0;
    transition: opacity 0.7s;
}
/*Adding the little arrow*/
.tooltip .tooltipText::after {
    content: "";
    position: absolute;
    inset: var(--inset-a);
    margin: var(--margin-a);
    border-width: 5px;
    border-style: solid;
    border-color: var(--tooltip-pos);
}

.connectline{
    position: absolute;
    border-style: solid;
    border-color: $Iron-color;
    border-style: dotted;
    border-width: 15%;
    background-color: $Cable-color;   
    height: 35%;
    width: 2%;
    left: 50%;
    bottom: 100%;
    z-index: 2;
}

.connectaxis{
    position: absolute;
    background-color: $Cable-color;
    height: 12%;
    width: 12%;
    border-color: $Iron-color;
    border-style: solid;
    border-width: 35%;
    border-radius: 50%;
    z-index: 3;
    left: 47.5%;
    bottom: 130%;
    &__axis{
        position: absolute;
        height: 10%;
        width: 100%;
        background-color: $Iron-color;
        left: 0%;
        bottom: 50%;
        z-index: 4;
        border-radius: 80%;
        animation: rotateAxis;
        animation-duration: $Animation-duration;
        animation-iteration-count: infinite;
    }
}

.line{
    top: 30%;
    left: -5%;
    padding: 0%;
    margin: 0%;
    position: absolute;
    z-index: 1;
    width: 150%;
    height: 1%;
    background-color: $Cable-color;
    border-color: $Iron-color;
    border-style: dotted;
    border-width: 4%;
    transform: rotate(6deg);
}


@keyframes rotateAxis {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes cableWayAnimation {
    from{
        top: 25%;
        right: 75%;
    }
    to{
        top: 45%;
        left: 100%; 
    }
}
