:root {
  /*Canvas palette*/
  --background: white;
  /*Sky base palette*/
  --sky: #c8fff1;
  /*Statue base palette*/
  --shadow-base: #363434;
  --base-middle: #444;
  --base-bottom: #444;
  --base-top: #666;
  /*Statue base palette-dark~*/
  --base-middle-dark: #565656;
  --base-bottom-dark: #545454;
  --base-top-dark: #777777;
  /*Mountain palette*/
  --green2: #badc58;
  /*Mountain palette-dark~*/
  --green2-dark: #4f5b2d;
  /*Statue palette*/
  --s-base-color: antiquewhite;
  --arms-shadow: #e7d8d8;
  --eyes-nose-mouth: #c9bbbb;
  --nose-border: #e8dbc9;
  --face-shadow: #d5c6c6;
  --hair-back: #f3e5d2;
  --hair-front: #e8dbc9;
  --tunic-front: #e3d6c4;
  --tunic-front-shadow: #bbb4b4;
  --tunic-back1: #e3d6c4;
  --tunic-back2: #d2c5b5;
  --tunic-back-shadow: #111111;
  /*Statue palette-dark~*/
  --s-base-color-dark: #8a8277;
  --arms-shadow-dark: #8a8277;
  --eyes-nose-mouth-dark: #3d3b3b;
  --nose-border-dark: #595550;
  --face-shadow-dark: #4b4646;
  --hair-back-dark: #5e5952;
  --hair-front-dark: #696157;
  --tunic-front-dark: #57524b;
  --tunic-front-shadow-dark: #6e6a6a;
  --tunic-back1-dark: #918a80;
  --tunic-back2-dark: #8f877e;
  /*stair palette*/
  --stair-color-step: #4d4d4d;
  --stair-color-bg: #d2d2d2;
  /*light poles palette*/
  --pLight-start: rgba(255, 255, 255, 0.51);
  --pLight-half: rgba(255, 255, 255, 0.18);
  --pLight-end: #0000;
  --pLightG-start: #0000;
  --pLightG-half: #000;
  --pLightG-end: #0000;
  --pole: #3b3636;
  --pole-top: #383333;
  /*Reflector palette*/
  --rColor-device: #2f2e2e;
  --rlight-cone-start: #fffdd3;
  --rlight-cone-end: #0000;
  --rLightG-start: #0000;
  --rLightG-half: #000;
  --rLightG-end: #0000;

  /*display reflector*/
  --display-reflector: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.canvas{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  width: 100%;
  height: 100vh;
}

.christ:hover ~ div,
.christ:hover{
  --green2: var(--green2-dark);
  --sky: #29293a;
  --base-middle: var(--base-middle-dark);
  --base-bottom: var(--base-bottom-dark);
  --base-top: var(--base-top-dark);
  --display-reflector: visible;
}
.box {
  position: relative;
  width: 100vmin;
  height: 85vmin;
  overflow: hidden;

  .sky{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--sky);
  }

  .mountain {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%; /*Aca para mover el cerro*/
    width: 100%;
    height: 100%;
    background-color: var(--green2);
    transform-origin: 0 100%;
    border-radius: 20% 0 0 0;
    transform: rotate(45deg);
  }

  @mixin stair{
    position: absolute;
    left: 80%;
    bottom: 52.8%;
    height: 2vmin;
    width: 10vmin;
    rotate: 56deg;
    background: repeating-linear-gradient(transparent, var(--stair-color-bg) 10vmin),
    repeating-linear-gradient(0.25turn, transparent, var(--stair-color-step) 1vmin);
    z-index: 1;
  }

  .stairs1{
    @include stair;
  }

  .stairs2{
    @include stair;
    left: 78%;
    bottom: 46%;
    rotate: 335deg;
  }

  .stairs3{
    @include stair;
    left: 76%;
    bottom: 39%;
    rotate: 60deg;
  }

  .stairs4{
    @include stair;
    left: 58%;
    bottom: 14%;
    rotate: 110deg;
    width: 38vmin;
  }

  @mixin light-post{
    position: absolute;
    z-index: 1;
  }
  @mixin light{
    display: var(--display-reflector);
    position: absolute;
    left: -1.5vmin;
    bottom: -7vmin;
    width: 3vmin;
    height: 6vmin;
    background: radial-gradient(farthest-side at bottom,
            var(--pLight-start),
            var(--pLight-half),
            var(--pLight-end));
    -webkit-mask: conic-gradient(from -45deg at bottom,
            var(--pLightG-start),
            var(--pLightG-half) 1deg 90deg,
            var(--pLightG-end) 91deg);
    rotate: 180deg;
  }
  @mixin pole{
    position: absolute;
    border-bottom: 0 solid transparent;
    border-top: 0.8vmin solid var(--pole-top);
    border-left: 0 solid transparent;
    border-right: 0.7vmin solid var(--pole);
    width: 2vmin;
    height: 5vmin;
    border-radius: 30%;
  }

  .lightPost1{
    @include light-post;
    bottom: 55%;
    right: 13%;
    &__pole1{
      @include pole;
    }
    &__light1{
      @include light;
    }
  }

  .lightPost2{
    @include light-post;
    bottom: 51%;
    right: 21%;
    transform: scaleX(-1);
    &__pole2{
      @include pole;
    }
    &__light2{
      @include light;
    }
  }

  .lightPost3{
    @include light-post;
    bottom: 40%;
    right: 17%;
    &__pole3{
      @include pole;
    }
    &__light3{
      @include light;
    }
  }

  .lightPost4{
    @include light-post;
    bottom: 30%;
    right: 20%;
    transform: scaleX(-1);
    &__pole4{
      @include pole;
    }
    &__light4{
      @include light;
    }
  }

  .lightPost5{
    @include light-post;
    bottom: 15%;
    right: 25%;
    &__pole5{
      @include pole;
    }
    &__light5{
      @include light;
    }
  }

  @mixin reflector{
    display: var(--display-reflector);
    position: absolute;
    z-index: 2;
  }
  @mixin device{
    position: absolute;
    bottom: -0.6vmin;
    right: -25.3vmin;
    width: 1vmin;
    height: 2vmin;
    border-radius: 5vmin / 2.5vmin;
    background-color: var(--rColor-device);
    z-index: 1;
    rotate: 7deg;
    animation: device 5s infinite;
    transform-origin: bottom;
    @keyframes device {
      50% {transform: rotate(45deg);}
    }
  }
  @mixin r-light{
    position: absolute;
    bottom: 50%;
    width: 50vmin;
    height: 70vmin;
    background:radial-gradient(farthest-side at bottom,
            var(--rlight-cone-start),
            var(--rlight-cone-end));
    -webkit-mask:conic-gradient(from -10deg at bottom,
            var(--rLightG-start),
            var(--rLightG-half) 15deg 20deg,
            var(--rLightG-end) 40deg);
    animation: light-rotate 5s infinite;
    transform-origin: bottom;
    @keyframes light-rotate {
      50% {transform: rotate(45deg);}
    }
  }

  .reflector1{
    @include reflector;
    bottom: 57%;
    right: 52%;

    .device1{
      @include device;
    }
    .r-light1{
      @include r-light;
    }
  }

  .reflector2{
    @include reflector;
    bottom: 57%;
    right: -10%;
    transform: scaleX(-1);

    .device2{
      @include device;
    }
    .r-light2{
      @include r-light;
    }
  }

  .christ {
    position: absolute;
    bottom: 79%;
    right: 26%; /*Aca para mover la statue*/

    @mixin base-top-bottom{
      width: 10vmin;
      height: 5vmin;
      border-radius: 10vmin / 5vmin;
      position: absolute;
    }

    .base {
      position: absolute;
      z-index: 1;

      &__middle {
        @include base-top-bottom;
        width: 10vmin;
        height: 1vmin;
        background-color: var(--base-middle);
        top: 16.7vmin;
      }

      &__top {
        @include base-top-bottom;
        background-color: var(--base-top);
        top: 14vmin;
      }

      &__bottom {
        @include base-top-bottom;
        background-color: var(--base-bottom);
        top: 15vmin;
        box-shadow: 0 0 1vmin var(--shadow-base);
      }
    }

    .body {
      position: relative;

      &__legs {
        position: absolute;
        left: 2vmin;
        bottom: -18vmin;
        width: 6vmin;
        height: 20vmin;
        border-radius: 10vmin / 5vmin;
        background-color: var(--s-base-color);
        z-index: 1;
      }

      &__arms {
        position: absolute;
        left: 3vmin;
        bottom: -10vmin;
        width: 4vmin;
        height: 20vmin;
        border-radius: 20vmin / 5vmin;
        background-color: var(--s-base-color);
        transform: rotate(90deg);
        box-shadow: 0 0 1vmin var(--arms-shadow);
        z-index: 1;
      }

      @mixin hand{
        position: absolute;
        border-bottom: 7vmin solid var(--s-base-color);
        border-left: 1vmin solid transparent;
        border-right: 1vmin solid transparent;
        border-radius: 3vmin;
        z-index: 1;
      }

      &__hands {
        @include hand;
        left: 13vmin;
        width: 3vmin;
        bottom: -2.6vmin;
        transform: rotate(275deg) rotateY(50deg);

      }

      &__hands::before {
        @include hand;
        content: "";
        left: -5vmin;
        width: 3vmin;
        bottom: 12.4vmin;
        transform: rotate(165deg) rotateY(50deg);
      }

      @mixin thumb {
        position: absolute;
        border-bottom: 3vmin solid var(--s-base-color);
        border-left: 1vmin solid transparent;
        border-right: 1vmin solid transparent;
        border-radius: 3vmin;
        z-index: 1;
      }

      &__thumbs {
        @include thumb;
        left: 14vmin;
        width: 2vmin;
        bottom: -0.2vmin;
        transform: rotate(60deg);
      }

      &__thumbs:before {
        @include thumb;
        content: "";
        left: -11.3vmin;
        width: 0.37vmin;
        bottom: -21vmin;
        transform: rotate(180deg) rotateZ(65deg);
      }

      &__eyes {
        position: absolute;
        width: 0.6vmin;
        height: 0.38vmin;
        background: #c9bbbb;
        border-radius: 40%;
        bottom: 6.2vmin;
        right: -4.38vmin;
        box-shadow: 1.5vmin 0 var(--eyes-nose-mouth);
        z-index: 4;
      }

      &__nose {
        position: absolute;
        left: 4vmin;
        border-bottom: 0.5vmin solid var(--nose-border);
        border-top: 1vmin solid transparent;
        border-left: 1vmin solid transparent;
        border-right: 0.3vmin solid var(--nose-border);
        width: 1vmin;
        bottom: 4.5vmin;
        padding-bottom: 1vmin;
        border-radius: 0.9vmin;
        z-index: 3;
      }

      &__mouth {
        position: absolute;
        width: 1vmin;
        height: 0.5vmin;
        top: -4.3vmin;
        left: 4.3vmin;
        border-radius: 50%;
        background: transparent;
        border-top: 0.1vmin solid var(--eyes-nose-mouth);
        rotate: 180deg;
        z-index: 4;
      }

      &__face {
        position: absolute;
        left: 2.84vmin;
        bottom: 3vmin;
        width: 4vmin;
        height: 5vmin;
        background: var(--s-base-color);
        box-shadow: 0 0 1vmin var(--face-shadow);
        border-radius: 120% / 160% 160% 120% 120%;
        transform: rotate(180deg);
        z-index: 2;
      }

      &__neck {
        position: absolute;
        left: 2.8vmin;
        border-bottom: 7vmin solid var(--s-base-color);
        border-left: 2vmin solid transparent;
        border-right: 2vmin solid transparent;
        width: 3vmin;
        bottom: 0;
        border-radius: 3vmin;
        z-index: 2;
      }

      &__hair {
        position: absolute;
        left: 2.3vmin;
        bottom: -0.5vmin;
        width: 5vmin;
        height: 9vmin;
        background: var(--hair-back);
        border-radius: 100% / 30% 30% 50% 50%;
        transform: rotate(180deg);
        z-index: 1;
      }

      &__hair-back {
        position: absolute;
        left: 1.37vmin;
        border-bottom: 7vmin solid var(--hair-back);
        border-left: 1vmin solid transparent;
        border-right: 1vmin solid transparent;
        width: 7vmin;
        bottom: 0.5vmin;
        border-radius: 3vmin;
        z-index: 0;
      }

      &__hair-front {
        position: absolute;
        left: 2.4vmin;
        border-bottom: 2vmin solid transparent;
        border-top: 1vmin solid var(--hair-front);
        border-left: 1vmin solid var(--hair-front);
        border-right: 1vmin solid var(--hair-front);
        width: 5vmin;
        bottom: 3.1vmin;
        padding-top: 2.8vmin;
        border-radius: 2vmin;
        z-index: 2;
      }
      &__tunic-front {
        position: absolute;
        left: -0.8vmin;
        bottom: -7.6vmin;
        width: 2.5vmin;
        height: 10vmin;
        border-radius: 10vmin / 5vmin;
        background-color: var(--s-base-color);
        z-index: 2;
      }

      &__tunic-front:after {
        position: absolute;
        content: "";
        left: 1vmin;
        bottom: -1vmin;
        width: 2vmin;
        height: 11vmin;
        border-radius: 10vmin / 5vmin;
        background-color: var(--tunic-front);
        box-shadow: 0 0 1vmin var(--tunic-front-shadow);
      }

      &__tunic-front:before {
        content: "";
        position: absolute;
        left: 2vmin;
        bottom: -4vmin;
        width: 2vmin;
        height: 14vmin;
        border-radius: 10vmin / 5vmin;
        background-color: var(--tunic-front);
      }

      &__tunic-back {
        position: absolute;
        left: 7.5vmin;
        bottom: -8vmin;
        width: 2.5vmin;
        height: 10vmin;
        border-radius: 10vmin / 5vmin;
        background-color: var(--tunic-back1);
        z-index: 1;
      }

      &__tunic-back:before {
        position: absolute;
        content: "";
        left: -0.8vmin;
        bottom: -3vmin;
        width: 2.5vmin;
        height: 10vmin;
        border-radius: 10vmin / 5vmin;
        background-color: var(--tunic-back2);
        box-shadow: 0 0 0.8vmin var(--tunic-front-shadow);
      }
    }
  }
}
